body{
    /*Margen*/
    margin: 0;
    /*Margen para adentro*/
    padding: 0;
    /* Tamaño de letra*/
    font-size: 13px;
    /*Tipografía*/
    font-family: Arial, Helvetica, sans-serif;
}
header{
    /*background-color: aqua;*/
    width: 100%;
    height: 60px;
}
header nav{
    /*background-color: yellow;*/
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section{
    /*background-color: bisque;*/
    width: 250px;

    /*Eliminar viñetas*/
    list-style: none;

    /*Flexibilidad al componente*/
    display:flex;

    /*centramos horizontalmente los elementos dentro de la lista*/
    justify-content: center;

    /*Centramos verticalmente la lista*/
    align-items: center;
}
a{
    /*Elimina línea debajo*/
    text-decoration: none;
}

nav .nav-right-section a{
    color:rgb(21,21,21);
    margin-right: 20px;
}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;

    /*Modifica el tamaño de la imagen al tamaño de el contenedor*/
    background-size: contain;   
    /*Para eliminar la repetición de elemento*/
    background-repeat: no-repeat;
}

nav .nav-right-section .menu:hover{
    box-shadow: 0px 0px 20px #a5abb1;
    border-radius: 10px;
    background-color: #cfd2d4;
}

nav .nav-right-section a:hover{
    text-decoration: underline;
}

nav .nav-right-section img:hover{
    box-shadow: 0px 0px 15px #a5abb1;
    border-radius: 15px;
    background-color: #cfd2d4;
}

nav .nav-right-section img{
    /*Redondear bordes*/
    border-radius: 30px;

    /*Margen izquierdo (separa menú de imagen)*/
    margin-left: 20px;
    width: 35px;
}



main{
    margin-top: 130px;
    text-align: center;
}

main .main-logo{
    /*background-color: yellowgreen;*/
    width: 530px;

    /*settea 0 al margen de arriba y de abajo--- auto: settea en auto ordes de izquierda y derecha*/
    margin: 0 auto; 
    margin-bottom: 40px;   
}

main .main-logo img{
    height: 120px;
}

/*Sección input*/
main .main-input{
    /*background-color: rgb(253, 143, 9);*/
    width: 550px;
    margin: 0 auto;
    margin-bottom: 40px;
}

/*caja con bordes redondeados*/
main .main-input-container{
    /*borde y pide 3 valores- anchura de linea, estilo y color*/
    border: 1px solid #dfe1e5;

    /*bordes redondeados*/
    border-radius: 20px;
    width: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Cajita de input*/
main .main-input input{
    height: 35px;
    border: none;

    /*outline: borde cuando seleccionas elemento*/
    outline: none;
    width: 430px;
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-size: contain;
    padding-left: 6%;
    background-repeat: no-repeat;
    background-position: center;
    height: 15px;
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    background-size: contain;
    padding-left: 1%;
    background-repeat: no-repeat;
    background-position: center;
    height: 17px;
    width: 17px;
}


main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 17px;
    width: 17px;
    padding-right: 5%;
}

/*Botones*/
main .main-buttons{
    /*background-color: aqua;*/
    width: 550px;
    margin: 0 auto;
}

main .main-buttons div{
    /*inline block: que estén en la misma línea*/
    display: inline-block;
}

main .main-buttons button{
    background-color: #f8f9fa;
    border: none;
    height: 40px;
    font-size: 16px;
    color: #3c4043;
    padding: 0 15px;
    border-radius: 4px;
    margin-right: 10px;
}

/*Efecto de sombra al pasar mouse*/
main .main-input-container:hover{
    box-shadow: 0 0 5px #20212447;
}

main .main-buttons button:hover{
    color: #202124;
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px #20212447;
}


/*footer*/
footer{
    background-color: #f2f2f2;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer .pais{
    padding: 15px 30;
    border-bottom: 1px solid #e4e4e4;
}

footer .pais p{
    margin-left: 30px;
    color: #70757A;
    font-size: 15px;
}

footer .others{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 10px 0;
}

footer .others a{
    color: #70757A;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    font-size: 14px;
}

footer .others a:hover{
    text-decoration: underline;
}

footer ul{
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 2px 10px 0;
}
